<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>ACS web pages</display-name>
    <listener>
        <!--    <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class> -->
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.REFRESH_PERIOD</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.SKIN</param-name>
        <param-value>#{skinBean.skin}</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
        <param-value>com.sun.facelets.FaceletViewHandler</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.xmlparser.ORDER</param-name>
        <param-value>NEKO</param-value>
    </context-param>
    <context-param>
        <description>Create CPE entry automatically on Inform</description>
        <param-name>org.openacs.AutoCreateCPE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>Path for firmware images</description>
        <param-name>org.openacs.fwbase</param-name>
        <param-value>c:/firmware/</param-value>
    </context-param>
    <filter>
        <display-name>Ajax4jsf Filter</display-name>
        <filter-name>ajax4jsf</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
        <init-param>
            <param-name>createTempFiles</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>maxRequestSize</param-name>
            <param-value>32000000</param-value>
        </init-param>
    </filter>
    <filter>
        <display-name>Exception Filter</display-name>
        <filter-name>xcptfilter</filter-name>
        <filter-class>org.openacs.ExceptionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>xcptfilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ajax4jsf</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>org.openacs.Context</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Main servlet for TR-069 messages processing. It's URL must be configured in CPEs.</description>
        <servlet-name>ACS servlet</servlet-name>
        <servlet-class>org.openacs.ACSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>org.openacs.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>client</servlet-name>
        <servlet-class>org.openacs.client</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>org.openacs.ConfigServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Firmware download servlet. Serves files from directory specified by org.openacs.fwbase  parameter.</description>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>org.openacs.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ACS servlet</servlet-name>
        <url-pattern>/acs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client</servlet-name>
        <url-pattern>/recv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/cfg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/firmware/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.FacesException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <error-page>
        <exception-type>com.sun.rave.web.ui.appbase.ApplicationException</exception-type>
        <location>/error/ExceptionHandler</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jspf</url-pattern>
            <is-xml>true</is-xml>
        </jsp-property-group>
    </jsp-config>
    <ejb-local-ref>
        <ejb-ref-name>ejb/HostsBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.HostsLocalHome</local-home>
        <local>org.openacs.HostsLocal</local>
        <ejb-link>acs-ejb.jar#HostsBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/SoftwareBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.SoftwareLocalHome</local-home>
        <local>org.openacs.SoftwareLocal</local>
        <ejb-link>acs-ejb.jar#SoftwareBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/SoftwareDetailBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.SoftwareDetailLocalHome</local-home>
        <local>org.openacs.SoftwareDetailLocal</local>
        <ejb-link>acs-ejb.jar#SoftwareDetailBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/ConfigurationBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.ConfigurationLocalHome</local-home>
        <local>org.openacs.ConfigurationLocal</local>
        <ejb-link>acs-ejb.jar#ConfigurationBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/CPEBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>org.openacs.CPELocalHome</local-home>
        <local>org.openacs.CPELocal</local>
        <ejb-link>acs-ejb.jar#CPEBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/ScriptBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.ScriptLocalHome</local-home>
        <local>org.openacs.ScriptLocal</local>
        <ejb-link>acs-ejb.jar#ScriptBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/HardwareModelBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.HardwareModelLocalHome</local-home>
        <local>org.openacs.HardwareModelLocal</local>
        <ejb-link>acs-ejb.jar#HardwareModelBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/DSLStatsBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.DSLStatsLocalHome</local-home>
        <local>org.openacs.DSLStatsLocal</local>
        <ejb-link>acs-ejb.jar#DSLStatsBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/ATMErrorsStatsBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.ATMErrorsStatsLocalHome</local-home>
        <local>org.openacs.ATMErrorsStatsLocal</local>
        <ejb-link>acs-ejb.jar#ATMErrorsStatsBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/DeviceProfileBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.DeviceProfileLocalHome</local-home>
        <local>org.openacs.DeviceProfileLocal</local>
        <ejb-link>acs-ejb.jar#DeviceProfileBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/PropertyBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.PropertyLocalHome</local-home>
        <local>org.openacs.PropertyLocal</local>
        <ejb-link>acs-ejb.jar#PropertyBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/BackupBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.BackupLocalHome</local-home>
        <local>org.openacs.BackupLocal</local>
        <ejb-link>acs-ejb.jar#BackupBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/DataModelBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.DataModelLocalHome</local-home>
        <local>org.openacs.DataModelLocal</local>
        <ejb-link>acs-ejb.jar#DataModelBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/DeviceProfile2SoftwareBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.DeviceProfile2SoftwareLocalHome</local-home>
        <local>org.openacs.DeviceProfile2SoftwareLocal</local>
        <ejb-link>acs-ejb.jar#DeviceProfile2SoftwareBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/HostPropertyBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.HostPropertyLocalHome</local-home>
        <local>org.openacs.HostPropertyLocal</local>
        <ejb-link>acs-ejb.jar#HostPropertyBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/ProfilePropertyBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.ProfilePropertyLocalHome</local-home>
        <local>org.openacs.ProfilePropertyLocal</local>
        <ejb-link>acs-ejb.jar#ProfilePropertyBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/Host2ServiceBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.Host2ServiceLocalHome</local-home>
        <local>org.openacs.Host2ServiceLocal</local>
        <ejb-link>acs-ejb.jar#Host2ServiceBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/ServiceBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.ServiceLocalHome</local-home>
        <local>org.openacs.ServiceLocal</local>
        <ejb-link>acs-ejb.jar#ServiceBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/ServicePropertyBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.ServicePropertyLocalHome</local-home>
        <local>org.openacs.ServicePropertyLocal</local>
        <ejb-link>acs-ejb.jar#ServicePropertyBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/OuiMapBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.openacs.OuiMapLocalHome</local-home>
        <local>org.openacs.OuiMapLocal</local>
        <ejb-link>acs-ejb.jar#OuiMapBean</ejb-link>
    </ejb-local-ref>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin pages</web-resource-name>
            <url-pattern>*.jsf</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description />
            <role-name>openacsAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>openacs</realm-name>
    </login-config>
    <security-role>
        <description />
        <role-name>openacsAdmin</role-name>
    </security-role>
</web-app>
